
<style>
    .Button
    {
        margin:5px;
    }
    </style>
<ion-app>
  <ion-router-outlet>

    <mat-vertical-stepper [linear]="isLinear" #stepper>
      <mat-step [stepControl]=" firstFormGroup">
        <form [formGroup]=" firstFormGroup">

          <ng-template matStepLabel><b>Entrez votre id</b> </ng-template>
         <div>
            <mat-form-field>
            <input matInput placeholder="ID" formControlName="idCtrl" required>
            </mat-form-field>
            <div>
                <button mat-flat-button color="primary" matStepperNext>Next</button>
            </div>
      
         </div>
         
        </form>
      </mat-step>
      <mat-step [stepControl]="secondFormGroup">
        <form [formGroup]="   secondFormGroup">
          <ng-template matStepLabel><b>Entrez votre nom</b> </ng-template>
          
          <div> 
              <mat-form-field>
            <input matInput placeholder="Nom" formControlName="nomCtrl" required>
          </mat-form-field>
            <div> 
            <button mat-flat-button color="primary" matStepperNext>Next</button>
            <button mat-flat-button color="primary" matStepperPrevious>Back</button>
            </div> 
          </div>
      
        </form>
      </mat-step>
      <mat-step [stepControl]="thirdFormGroup">
        <form [formGroup]="thirdFormGroup">
          <ng-template matStepLabel> <b>Entrez votre prenom</b> </ng-template>
        
          <div> 
              <mat-form-field>
                  <input matInput placeholder="Prenom" formControlName="prenomCtrl" required>
              </mat-form-field>
         
      
               
                <div >
                 



                  <button mat-flat-button color="primary" matStepperNext>Next</button>
                  <button mat-flat-button color="primary"matStepperPrevious>Back</button>
            </div>
    
          </div>
          
        </form>
      </mat-step>
             <mat-step>

            
                     <ng-template matStepLabel><b>Fin</b></ng-template>
       
     
                          
                          <mat-button-toggle-group name="fontStyle" aria-label="Font Style">
                             
                              <mat-button-toggle color="warn" (click)="stepper.reset()">Reset</mat-button-toggle>
                              <mat-button-toggle >Valider</mat-button-toggle>
                            </mat-button-toggle-group>

          
            </mat-step>
    

    
    </mat-vertical-stepper>
  </ion-router-outlet>
</ion-app>